<script type="text/ng-template" id="myModalContent.html">
</script>
<div ng-init="init()">
  <div ng-repeat="list in lists">
    <button class="btn btn-default btn-sm" ng-click="open()">Add Content</button>
    <p>{{list.id}}<br>{{list.text}}</p>
  </div>
</div>
